@charset "utf-8";
/* Reset */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; }
body, button, input, select, textarea { font:12px/1.5 Verdana,Arial,Helvetica,sans-serif;; -webkit-text-size-adjust:none}
h1, h2, h3, h4, h5, h6 { font-size:100%;font-weight: normal; }
ul, ol { list-style:none; }
a { text-decoration:none;color: #fff; }
a:hover { text-decoration:none; }
input{outline: none;}
fieldset, img { border:0; }
button, input, select, textarea { font-size:100%; }
button,input { cursor: pointer; border: 0 none; }
table { border-collapse:collapse; border-spacing:0; }
/* Common */
.fl { float:left; display: inline; }
.fr { float:right; display: inline; }
.clearfix:after { content:"."; display:block; clear:both; visibility:hidden; font-size:0; line-height:0; height:0; }
.clearfix { *zoom:1; }
.clear { clear:both; }

html,body { width: 100%; height: 100%; }
body { background: #f4f6f6;color: #fff;font-size: 24px; overflow: hidden; }
.wrap { width: 640px; background: #f4f6f6;margin: 0 auto;position: relative; height: 100%; }
#legend{ position: absolute;overflow: hidden; height: 100%; width: 100%; }